@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}

/*utility classes*/
.text-gray {
    color: hsl(228, 12%, 48%);
}

.pb-1 {
    padding-bottom: 14px;
}

.mr-1 {
    margin-right: 8px;
}

.inline-block {
    display: inline-block;
}

.font-fraunces {
    font-family: 'Fraunces', serif;
}

/*main content*/
.container {
    width: 92vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card {
    width: 100%;
    max-width: 471px;
    overflow: hidden;
    display: grid;
    margin-top: 30px;
    border-radius: 10px;
}

@media (min-width: 1440px) {
    .card {
        grid-template-columns: 1fr 1fr;
        max-width: 530px;
    }
}

.card-image {
    width: 100%;
}

.card-image .image-product {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desktop-image {
    display: none;
}

.card-content {
    padding: 0px 20px;
    background: hsl(0, 0%, 100%);
}

.product {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    padding-top: 20px;

}

.description {
    font-size: 14px;
    line-height: 23px;
}

.pricing {
    position: relative;
}

.after {
    color: hsl(158, 36%, 37%);
    font-size: 1.7rem;
    font-weight: bold;
    margin-right: 10px;
}

.before {
    position: absolute;
    top: 10px;
    font-size: .8rem;
    text-decoration: line-through;
}

.button {
    padding-bottom: 25px;
}

.btn-card {
    width: 100%;
    padding: 10px;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}

.button .btn-card:hover {
    background-color: hsl(156, 42%, 18%);
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: .8rem;
    color: hsl(228, 12%, 48%);
    display: none;
}

.attribution a {
    text-decoration: none;
    color: hsl(228, 63%, 54%);
    ;
}

@media (min-width: 1440px) {
    .attribution {
        display: block;
    }
}